table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #a8a8a8;
}
.table_border{
    width:100%;
    text-align: center;
}
.table_border > thead > tr > th{
    background-color: #d2d2d2;
    color: #444444;
    padding: 8px 16px;
}
.table_border > thead > tr.filter > th{
    background-color: #fff;
    color: #444444;
    padding: 8px 16px;
}
.table_border > thead > tr.filter > th input{
    width:100%;
    display: block;
}
.table_border > tbody > tr > td{
    padding: 8px 16px;
}
.table_border > tbody > tr > td > span{
    display: block;
    width: 100%;
}