<table class="table table_border">
    <thead>
        <tr class="filter">
            <th><input type="text" placeholder="Name" [(ngModel)]="name"></th>
            <th><input type="text" placeholder="Birth" [(ngModel)]="birth"></th>
            <th><input type="text" placeholder="Gender" [(ngModel)]="gender"></th>
            <th><input type="text" placeholder="Movies" [(ngModel)]="movies"></th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Birth</th>
            <th>Gender</th>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of peopleApiRes |filter:name | filter:birth | filter:gender | filter:movies">
            <td>{{people.name}}</td>
            <td>{{people.birth_year}}</td>
            <td>{{people.gender}}</td>
            <td>
                <ng-container *ngFor="let film of people.filmTitles">
                    <span>{{film}}</span>
                </ng-container>
            </td>

        </tr>
    </tbody>